
@model BusinessManagementApp.Models.Models.Supplier

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div>
    <form method="post">
        <table>
            <tr>
                <td>Code</td>
                <td>
                    <input type="text" name="Code" value="@Model.Code" />
                </td>
            </tr>

            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="Name" value="@Model.Name" />
                </td>
            </tr>

            <tr>
                <td>Address</td>
                <td>
                    <input type="text" name="Address" value="@Model.Address" />
                </td>
            </tr>

            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="Email" value="@Model.Email" />
                </td>
            </tr>

            <tr>
                <td>Contact</td>
                <td>
                    <input type="number" name="Contact" value="@Model.Contact" />
                </td>
            </tr>

            <tr>
                <td>ContactPerson</td>
                <td>
                    <input type="text" name="ContactPerson" value="@Model.ContactPerson" />
                </td>
            </tr>

            <tr>
                <td>Action</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>
    <table>
        <thead>
            <tr>
                <td>SL</td>
                <td>Code</td>
                <td>Name</td>
                <td>Address</td>
                <td>Email</td>
                <td>Contact</td>
                <td>ContactPerson</td>
            </tr>
        </thead>

        <tbody>
        @{ int SL = 1;}
        @foreach (var supplier in Model.Suppliers)
        {
            <tr>
                <td>@(SL++)</td>
                <td>@supplier.Code</td>
                <td>@supplier.Name</td>
                <td>@supplier.Address</td>
                <td>@supplier.Email</td>
                <td>@supplier.Contact</td>
                <td>@supplier.ContactPerson</td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>
